/* 
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 16px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::selection { background: transparent; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: "Consolas"; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: Jugal Manjeshwar
   ========================================================================== */
html{overflow:hidden}

#modeBar
{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:55px;
	background:#444444;
	z-index:99999;
	border-right:1px solid #111;
	box-shadow:2px 0 2px rgba(0,0,0,0.2);
	box-sizing:border-box;
}

#modeBar>div{
	padding:10px 0;
	opacity:0.5;
	-webkit-transition: all .1s ease-in-out;
}

#modeBar>div.selected,#modeBar>div.selected:hover{
	opacity:1;
	background:#222;
}

#modeBar>div:hover{
	opacity:0.8;
	background:#333;
}

#modeBar .ico{
	text-align:center;
	width:100%;
}

#modeBar .label{
	font-family:Tahoma;
	text-align:center;
	color:#e5e5e5;
	font-size:10px;
	font-weight:bold;
	text-shadow: 0 1px 1px black;
	cursor:default;
}

#mainContent
{
	position:absolute;
	top:0;
	right:0;
	left:55px;
	bottom:0;
	box-sizing:border-box;
}

#editorStatusbar{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	line-height:12px;
	font-size:11px;
	color:#111;
	text-shadow:0 1px 0 rgba(255,255,255,0.7);
	padding:4px 6px;
	border-top:1px solid #888;
	box-shadow:inset 0 1px 0 white;
	background: -webkit-gradient(linear, center top, center bottom,from(#dedede), to(#cecece) );
	box-sizing:border-box;
	clear:both;
}

#editorStatusbar #modeName
{
	width:100px;
	text-align:center;
	float:right;
}

#editor{
	overflow:hidden;
	width:100%;
	height:100%;
	display:block;
	font-size:16px;
}

#console{
	width:100%;
	height:100%;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	display:block;
	background-color:rgba(0,0,0,0.85);
	padding:10px;
	color:#fff;
	font-size:14px;
	font-family: 'courier new', monospace;
	z-index:99999;
	display:none;
}

#editorSidebar{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:200px;
	background:#dee3e9;
	box-sizing:border-box;
	border-right:1px solid #acacac;
	box-shadow: inset -1px 0 1px rgba(0,0,0,0.2);
}

#editorCodeContainer
{
	position:absolute;
	top:0;
	left:200px;
	right:0;
	bottom:21px;
	box-sizing:border-box;
}

#editorTabs{
	height:35px;
	width:100%;
	background: #B0B0B0;
	background: -webkit-gradient(linear, center top, center bottom,from(#bebebe), to(#aeaeae) );
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	margin:0;
	list-style:none;
	margin-bottom:7px;
	position:relative;
	padding:0 10px;
	box-sizing:border-box;
	z-index:99990;
}

#editorCode{
	display:block;
	position: absolute;
	top:42px;
	right:0;
	left:0;
	bottom:0;
	overflow:hidden;
	overflow-y:hidden;
}

#tabContainer{
	width:100%;
	table-layout:fixed;
	display:table;
}

#editorTabs::after{
	content: '';
	height:5px;
	width:100%;
	position:absolute;
	top:35px;
	left:0;
	border-top:1px solid #888;
	border-bottom:1px solid #aaa;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.1);
	background:#e5e5e5;
}

#editorTabs li{
	min-width:10px;
	max-width:100px;
	max-height:24px;	
	display:table-cell;
	overflow:hidden;
	-webkit-box-shadow:0 1px 0 #e5e5e5;
	-webkit-transition: all 0.5 linear;
}

#editorTabs li .tab{
	background:#eee;
	color:#111;
	margin-top:8px;
	border:1px solid #888;
	border-bottom:none;
	font-size:11px;
	line-height:20px;
	height:27px;
	text-shadow:0 1px 0 rgba(255,255,255,0.7);
	background: -webkit-gradient(linear, center top, center bottom,from(#e3e3e3), to(#d4d4d4) );
	border-radius: 2px 2px 0 0;
	cursor: default;
	position:relative;
}

#editorTabs li.current{
	position: relative;
	bottom:0;
	z-index:10;
}

#editorTabs li.current .tab, #editorTabs li.current .tab:hover{
	background: -webkit-gradient(linear, center top, center bottom,from(#f9f9f9), to(#e5e5e5) );
}

#editorTabs li .tab:hover{
	background: -webkit-gradient(linear, center top, center bottom,from(#f1f1f1), to(#e2e2e2) );	
}

#editorTabs li .tab-title{
	overflow:hidden;
	max-width:60%;
	position:absolute;
	top:4px;
	left:12px;
}

#editorTabs li .tab-action{
	overflow:hidden;
	position:absolute;
	top:6px;
	right:8px;
}


.CodeMirror{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	right:0;
	left:0;
	bottom:0;
	overflow:hidden;
	overflow-y:hidden;
}

.cm-show{display:block}
.cm-hide{display:none}


.CodeMirror-scroll{
display: block;
position: absolute !important;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
margin: 0;
padding: 0;	
overflow:hidden;
overflow-y:hidden;
}

.ico-close{
width:14px;height:14px;
background:url("../img/close.png") -0px -0px no-repeat;
display: block;vertical-align: top;overflow: hidden;
opacity:0.5;
margin-top:1px;	
}

.ico-close:hover{
opacity:1	
}


::-webkit-scrollbar {
    width: 12px;
    height:12px;
}

::-webkit-scrollbar-track {
    background:#f4f4f4;
}
::-webkit-scrollbar-track:vertical{
	border-left:1px solid #aaa;
	box-shadow:inset 2px 0 2px rgba(0,0,0,0.05);
}
::-webkit-scrollbar-track:horizontal{
	border-top:1px solid #aaa;
	box-shadow:inset 0 2px 2px rgba(0,0,0,0.05);
}

::-webkit-scrollbar-corner{
	background:#f4f4f4;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: -webkit-gradient(linear, center top, center bottom,from(#bebebe), to(#aeaeae) );
    border:1px solid #999;
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.8), 0 1px 1px rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb:hover{
	border-color:#666;
}